# config.yaml

# --- I/O ---
# data_path is a list (action="append")
data_path:
  - "/nas/manu/ssv2/data/train.csv"
val_data_path:
  - "/nas/manu/ssv2/data/validation.csv"

output_dir: "./outputs/debug" # make it .outputs/wandb_name
checkpoint: null
eval_only: false
init_eval: true

# --- Dataset / Sampling ---
batch_size: 128
val_batch_size: 128
num_workers: 8
pin_mem: true
persistent_workers: true
drop_last: true
deterministic_loader: true

eval_frames_per_clip: 16
frames_per_clip: 4
num_clips: 1
random_clip_sampling: true
allow_clip_overlap: false

# Mutually exclusive constraints (Choose one, set others to null)
# Default behavior: frame_step=4 if all are null.
frame_step: 4
fps: null 
duration: null 

crop_size: 224

# --- Model ---
dino_repo: "facebookresearch/dinov2"
dino_model: "dinov2_vits14" # "dinov2_vitl14"
dino_pretrained: true
freeze_dino: true
encoder:
  type: "transformer" #["transformer", "mlp"]
  transformer:
    hidden_dim: 1024
    depth: 4
    n_heads: 8
  mlp:
    hidden_dim: 1024
    output_dim: 512
pooling: "mean" # ["mean", "concat"]
num_classes: 174

# --- Optimization ---
epochs: 100
lr: 1.0e-4
weight_decay: 0.05
grad_accum: 1

# --- Logging / Checkpointing ---
val_freq: 1300
log_freq: 20
save_every_epochs: 1

# --- Distributed ---
dist_port: 37129

wandb:
  logging : True
  sweep : False
  sweep_run_count : 100
  entity : "manugaur"
  project : "fair_project"
  run_name : dummy
  fork : False